*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.wht{
    color: white;
}

.blue{
    color: blue;
}

.txt-cntr{
    text-align: center;
}

/* utilities */

/* inizio header per smartphone, tablet */
header{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: aqua;
}

.header-container{
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.header-menu-pc{
    display: none;
}

/* nav bar per il pc */
@media screen and (min-width: 1024px) {
  
    .header-container{
        width: 80%;
        margin: auto;
    }

    .header-menu-pc{
        align-items: center;
    }

   .header-menu-pc ul > li{
    list-style:none ;
    display: inline-block;
    padding-right: 20px;
   }

   .btn-white{
    background-color: white;
    color: black;
    border-radius: 20px 20px 20px 20px;
    padding: 5px;
    border: none;
   }

   .header-menu-pc{
    display: block;
   }

   .hamburger{
    display: none;
   }

}
/* fine nav bar pc */
/* inizio header per smartphone, tablet */

/* inizio prima sezione */
/* prima card */
.first{
    flex-direction: column;
    padding-top: 100px;
    width: 90%;
    margin: auto;
}

.first-section-card, .second-section-card{
    background-color: #afc5ff;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.first-section-card h3{
    color: #24527a;
    padding-bottom: 15px;
    padding-top: 10px;
}

.first-section-card .apple-btn{
    padding: 15px 0px;
}

.first-section-card button {
    background-color: blue;
    border-radius: 20px 20px 20px 20px;
    padding: 8px 70px;
    border: none;
}

.first-section-card > .apple-btn > button > i{
    padding-right: 8px;
}

.first-section-card img{
    width: 200px;
    height: 160px;
    margin-left: 50px;
}
/* fine prima card */
/* inizio seconda carda e relative card successive uguali */

.second-section-card .fa-file-code, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn{
    font-size: 70px;
    padding: 25px 0px;
}

.second-section-card p {
    padding: 20px 14px;
}
/* fine seconda carda e relative card successive uguali */

/* inizio section per tablet e pc */
@media screen and (min-width: 469px) {

    .first{
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
    } 

    .first-section-card{
        flex-basis: 65%;
        margin-right: 20px;
    }

    .second-section-card{
        flex-basis: 30%;
    }

    .basis {
        width: calc(100% / 3);
        margin-right:auto ;
    }

    .first-section-card img{
        width: 230px;
        height: 210px;
    }
}

@media screen and (min-width: 768px){
    .first-section-card img{
        width: 300px;
        height: 240px;
    }
}
/* fine section per tablet e pc*/